 
  <ion-header mode="ios">
    <app-encabezado  titulo="SD1 Móvil"></app-encabezado>
    <ion-toolbar>
 
      <ion-label slot="start"  style="margin-left: 1rem;font-size: 1rem;"><strong>Estados De Cuenta</strong></ion-label>
  
<ion-fab-button size="small" slot="end">
  <img src="assets/gastos/court.svg" />
</ion-fab-button>
     </ion-toolbar>
  </ion-header>
 
 
<ion-content class="ion-padding">
 
  <ion-grid *ngIf="estadosCuenta.length == 0"  style="height: 100%;">
    <ion-row  style="height: 100%;display: flex;justify-content: center;align-items: center;">
     
      <ion-col size="12">
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <ion-icon  style="font-size: 75px;" color="danger" name="alert-circle-outline"></ion-icon>
          </ion-col>
          <ion-col size="12"  class="ion-text-center" style="margin-top: 1rem;" >
            <ion-label class="ion-text-uppercase" ><strong> No hay datos que mostrar!..</strong></ion-label>
          </ion-col>
        </ion-row>
   
      </ion-col>
    
    </ion-row>
  </ion-grid>
<ion-list *ngIf="estadosCuenta.length > 0">
  <ion-item (click)="descargarEstadoDeCuenta(estadoCuenta)" *ngFor="let estadoCuenta of estadosCuenta" detail>
    <ion-grid >
      <ion-row style="margin-bottom: 0.5rem;">
        <ion-col size="6">
          <strong>Referencia</strong>
        </ion-col>
        <ion-col size="6"  > 
          <span style="margin-left: 0.5rem;">
            {{estadoCuenta.referencia
            }}
          </span>
        </ion-col>
        <ion-col size="12" style="margin-top: 0.5rem;">
          <strong>Fecha</strong>
        </ion-col>
        <ion-col size="12"  style="margin-bottom: 0.5rem;margin-top: 0.5rem;">  
          <span style="margin-left: 0.5rem;">
            {{estadoCuenta.fechA_INICIAL | date
            }} /    {{estadoCuenta.fechA_FINAL | date
            }}
          </span>
  
        </ion-col>
        <ion-col size="6">
          <strong>Monto</strong>
        </ion-col>
        <ion-col size="6"  >  
          <span style="margin-left: 0.5rem;">
            {{estadoCuenta.monto | colones
            }}
          </span>
  
  
        </ion-col>
    
      </ion-row>
     </ion-grid>
  </ion-item>
</ion-list>
 


</ion-content>

<app-pie-pagina-inicio></app-pie-pagina-inicio>