 
<ion-header class="ion-no-border">
 <ion-toolbar>
  <ion-button (click)="regresar()" fill="clear" slot="start">
    <ion-icon size="large" name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-title>{{titulo}}</ion-title>
  <ion-avatar slot="end">
    <img src="assets/gastos/court.svg" />
  </ion-avatar>
 </ion-toolbar>

 
</ion-header>

<ion-content>
<app-robot-message   *ngIf="gastos.length == 0;" message="No hay datos que mostrar!.."></app-robot-message>
 


  <ion-grid *ngIf="gastos.length > 0;">
    <ion-row>
      <ion-col size="12">
        <ion-list>
         
      
          <ion-item-sliding *ngFor="let item of gastos" >
                    
            <ion-item-options *ngIf="item.estatus != 'A'" side="start" style="display: flex;justify-content: flex-start;align-items: center;">
      <ion-button (click)="delete(item)"  fill="clear"  >
       <ion-icon  size="large" color="danger" name="trash"></ion-icon>
      </ion-button>
            </ion-item-options>
            <ion-item class="ion-margin-bottom"  detail  (click)="editarGasto(item)" lines="full">
              <ion-grid>
                <ion-row>
                  <ion-col size="12" style="display: flex;justify-content: space-between;align-items: center;">
                    <ion-label  style="margin-bottom: 0.5rem;">
                      {{item.proveedor}}
                    </ion-label>
  
                    <a *ngIf="item.adjunto" href="{{url+item.id}}" download>
                      <ion-fab-button size="small">
  
                        <ion-icon name="cloud-download-outline">
  
  
                        </ion-icon>
  
                      </ion-fab-button>
  
                    </a>
                     
                  </ion-col>
                  <ion-col size="12" style="display: flex;justify-content: space-between;align-items: center;">
  
                    <ion-label>M# {{item.referencia}}
                    </ion-label>
                    <ion-label style="margin-right: 1rem;">-{{item.monto | colones}}</ion-label>
  
  
                  </ion-col>
  
  
                  <ion-col size="12">
                    <ion-label>{{item.fecha | date }}</ion-label>
                  </ion-col>
                  <ion-col size="12" style="display: flex;justify-content: space-between;align-items: center;">
                    <ion-label>Estatus</ion-label>
                    {{item.estatus == 'P' ? 'Pendiente' : item.estatus == 'A' ? 'Aprobado' : 'Rechazado'}}
                  </ion-col>
                </ion-row>
              </ion-grid>
  
            </ion-item>
  

          </ion-item-sliding>

          <ion-item lines="none" *ngIf="estado && anticiposService.vistaAnticipo  || anticiposService.vistaAnticipo">
            <ion-grid >
             <ion-row>
              <ion-col size="12">
            <ion-toolbar>
              <ion-title>Detalle Anticipo</ion-title>
            </ion-toolbar>    
              </ion-col>
               <ion-col size="12">
                 <ion-title>Compañia</ion-title>
               </ion-col>
               <ion-col size="12" class="ion-text-right">
                 <ion-title> <strong>{{anticiposService.vistaAnticipo.coD_COMPANIA}}</strong></ion-title>
               </ion-col>
               <ion-col size="12">
                 <ion-title>Corte</ion-title>
               </ion-col>
               <ion-col size="12" class="ion-text-right">
                 <ion-title> <strong>{{anticiposService.vistaAnticipo.fechA_INICIAL | date }} - {{anticiposService.vistaAnticipo.fechA_FINAL | date}}</strong></ion-title>
               </ion-col>
               <ion-col size="12">
                 <ion-title>Anticipo</ion-title>
               </ion-col>
               <ion-col size="12" class="ion-text-right">
                 <ion-title> <strong># {{anticiposService.vistaAnticipo.numerO_TRANSACCION }}</strong></ion-title>
               </ion-col>
              
                <ion-col size="12">
                  <ion-title>Total Dispensado</ion-title>
                </ion-col>
                <ion-col size="12" class="ion-text-right">
                  <ion-title> <strong>{{ anticiposService.vistaAnticipo.monto | colones}}</strong></ion-title>
                </ion-col>
                <ion-col size="12">
                  <ion-title>Total Consumido</ion-title>
                </ion-col>
                <ion-col size="12" class="ion-text-right">
                  <ion-title> - <strong>{{ anticiposService.vistaAnticipo.utilizado | colones}}</strong></ion-title>
                </ion-col>
                <ion-col size="12">
                  <ion-title>Sobrante</ion-title>
                </ion-col>
                <ion-col size="12" class="ion-text-right">
                  <ion-title> <strong>{{ anticiposService.vistaAnticipo.restante | colones}}</strong></ion-title>
                </ion-col>
                <ion-col size="12" size="12" *ngIf="estado || anticiposService.vistaAnticipo.estatus == 'R'" >
                  <ion-label class="ion-text-wrap ion-margin-top ion-margin-bottom">
                    Si desea liquidar los gastos, por favor completar el formulario adjunto y dale click al botón de liquidar
                  </ion-label>
                </ion-col>
             </ion-row>
            </ion-grid>
             </ion-item>

             <ion-item *ngIf="estado  && anticiposService.vistaAnticipo  && sobrante || anticiposService.vistaAnticipo  && sobrante">
              <ion-grid >
                <ion-row  *ngIf="lineaAnticipo">
                  <ion-col size="12">

                      
     <div class="form-field">
      <label  #label [ngClass]="focuse[1].focus2 ? 'label-focused' : ''">Metodo Devolución</label>
 
      <ion-select  (focus)="focuse[1].focus2 = true" (blur)="focuse[1].focus2 = false"  (ionChange)="cambiarMetodoDevolucion()" [(ngModel)]="sobrante.metodO_DEVOLUCION"   class="ion-text-wrap">
        <ion-select-option value="sinpe">Sinpe</ion-select-option>
        <ion-select-option value="transferencia">Transferencia</ion-select-option>
        <ion-select-option value="deposito">Deposito</ion-select-option>
      </ion-select>
    </div>
   


 
                  </ion-col>
                
                </ion-row>
              </ion-grid>
                </ion-item>
                <ion-item *ngIf="estado  && anticiposService.vistaAnticipo && sobrante || anticiposService.vistaAnticipo  && sobrante">
                  <ion-grid >
                    <ion-row *ngIf="sobrante.metodO_DEVOLUCION == 'sinpe'">
                      <ion-col size="12">


                            
     <div class="form-field">
      <label #label [ngClass]="focuse[2].focus3? 'label-focused' : ''">Telefono</label>
      <input (focus)="focuse[2].focus3 = true"  #input name="proveedor" [(ngModel)]="sobrante.telefono"  (blur)="sobrante.telefono?  focuse[2].focus3 = true : focuse[2].focus3 = false" />
    </div>



             
                      </ion-col>
                      <ion-col size="12">
                        <ion-input    type="text"  [(ngModel)]="sobrante.telefono"   placeholder="digitar numero de telefono"></ion-input>
                      </ion-col>
                
                    </ion-row>
                    <ion-row *ngIf="sobrante.metodO_DEVOLUCION != 'sinpe'">
                      <ion-col size="12">

                            
     <div class="form-field">
      <label #label [ngClass]="focuse[3].focus4 ? 'label-focused' : ''">Numero de cuenta</label>
      <input (focus)="focuse[3].focus4 = true"  #input name="proveedor"   [(ngModel)]="sobrante.cuenta"  (blur)="sobrante.cuenta ?  focuse[3].focus4 = true : focuse[3].focus4 = false" />
    </div>



          
                      </ion-col>
                  
                
                    </ion-row>
                  </ion-grid>
                    </ion-item>
                    <ion-button *ngIf="estado || anticiposService.vistaAnticipo.estatus == 'R'" class="ion-button" (click)="metodoDevolucion()"  expand="block">
                      <ion-label>Liquidar Gastos</ion-label>
                    </ion-button> 
        </ion-list>

      </ion-col>
 
    </ion-row>

  </ion-grid>



</ion-content>

