 
<ion-header class="ion-no-border">
  <ion-toolbar>
   <ion-button (click)="regresar()" fill="clear" slot="start">
     <ion-icon size="large" name="chevron-back-outline"></ion-icon>
   </ion-button>
   <ion-title>{{titulo}}</ion-title>
   <ion-avatar slot="end">
     <img src="assets/gastos/court.svg" />
   </ion-avatar>
  </ion-toolbar>
 
  
 </ion-header>
 
 <ion-content class="ion-padding">
 <app-robot-message   *ngIf="gastos.length == 0;" message="No hay datos que mostrar!.."></app-robot-message>
 <ion-row    *ngIf="lineaAnticipo && estado  && anticiposService.vistaAnticipo  && sobrante || anticiposService.vistaAnticipo  && sobrante">
  
 <ion-col size="12" size="12" *ngIf="estado || anticiposService.vistaAnticipo.estatus == 'R'" >
  <p>  Si desea liquidar los gastos, por favor completar el formulario adjunto y dale click al botón de liquidar</p>
 </ion-col>
</ion-row>


<ion-row  class="ion-margin-top" *ngIf="lineaAnticipo && estado  && anticiposService.vistaAnticipo  && sobrante || anticiposService.vistaAnticipo  && sobrante">
<ion-col size="12">

    
<div class="form-field">
<label  #label [ngClass]="focuse[0].focus1 ? 'label-focused' : ''">Metodo Devolución</label>

<ion-select  (focus)="focuse[0].focus1 = true" (blur)="sobrante.metodO_DEVOLUCION?  focuse[0].focus1  = true : focuse[0].focus1  = false"  (ionChange)="cambiarMetodoDevolucion()" [(ngModel)]="sobrante.metodO_DEVOLUCION"   class="ion-text-wrap">
<ion-select-option value="sinpe">Sinpe</ion-select-option>
<ion-select-option value="transferencia">Transferencia</ion-select-option>
<ion-select-option value="deposito">Deposito</ion-select-option>
</ion-select>
</div>




</ion-col>
</ion-row>
<ion-row *ngIf="sobrante.metodO_DEVOLUCION == 'sinpe'">
  <ion-col size="12">


        
<div class="form-field">
<label #label [ngClass]="focuse[1].focus2 ? 'label-focused' : ''">Telefono</label>
<input (focus)="focuse[1].focus2  = true"  #input name="proveedor" [(ngModel)]="sobrante.telefono"  (blur)="sobrante.telefono?  focuse[1].focus2  = true : focuse[1].focus2  = false" />
</div>




  </ion-col>
<ion-col size="12">
  <ion-button *ngIf="estado || anticiposService.vistaAnticipo.estatus == 'R'" class="ion-button" (click)="metodoDevolucion()"  expand="block">
    <ion-label>Liquidar Gastos</ion-label>
  </ion-button> 
</ion-col>
</ion-row>
<ion-row *ngIf="sobrante.metodO_DEVOLUCION != 'sinpe' && lineaAnticipo">
  <ion-col size="12">

        
<div class="form-field">
<label #label [ngClass]="focuse[2].focus3  ? 'label-focused' : ''">Numero de cuenta</label>
<input (focus)="focuse[2].focus3 = true"  #input name="proveedor"   [(ngModel)]="sobrante.cuenta"  (blur)="sobrante.cuenta ?  focuse[2].focus3 = true : focuse[2].focus3 = false" />
</div>




  </ion-col>


</ion-row>
<ion-col size="12">
  <ion-button *ngIf="!anticiposService.vistaAnticipo" class="ion-button" (click)="metodoDevolucion()"  expand="block">
    <ion-label>Liquidar Gastos</ion-label>
  </ion-button> 
</ion-col>
  <ion-toolbar>
    <ion-title>Mis Gastos</ion-title>
  </ion-toolbar>
 <ion-card (click)="editarGasto(item)" button size="12"  *ngFor="let item of gastos">
  <ion-grid >
    <ion-row >
      <ion-col size="4">
        <img src="{{imagenT(item)}}" alt="">
      

      </ion-col>
      <ion-col size="8">
        <ion-card-header>
 <ion-grid>
  <ion-row >
    <ion-col  class="ion-col" size="12">
      <ion-label>{{item.fecha | date }}</ion-label>

    </ion-col>
    <ion-col  class="ion-col" size="12">
      <ion-label> <strong>{{item.proveedor}}</strong> </ion-label>
    </ion-col>
    <ion-col  class="ion-col"  size="12">
      <ion-label color="danger"><strong>-{{item.monto | colones}}</strong></ion-label>
    </ion-col>
  </ion-row>
 </ion-grid>
              </ion-card-header>
              
      </ion-col>
    </ion-row>
  </ion-grid>
      </ion-card>
  
 
 
 </ion-content>
 
 