 
 <ion-toolbar>
<ion-segment mode="md" value="gastos" (ionChange)="segmentChanged($event)">
  <ion-segment-button value="gastos">
    <ion-label>Mis Gastos</ion-label>
  </ion-segment-button>
  <ion-segment-button value="liquidaciones">
    <ion-label>Liquidaciones</ion-label>
  </ion-segment-button>
</ion-segment>
 
<ion-fab-button size="small" slot="end">
  <ion-icon name="search"></ion-icon>
</ion-fab-button>
 </ion-toolbar>
<ion-content class="ion-padding">

 



<ion-grid >
  <ion-row>
    

     
    <ion-col size="12" *ngIf="!anticiposService.vistaAnticipo">
      Gastos 
    </ion-col>
    <ion-col size="6" *ngIf="!anticiposService.vistaAnticipo">
      {{controlGastosService.fechaInicioMes | date }}

        </ion-col>
        <ion-col size="6" *ngIf="!anticiposService.vistaAnticipo">
         {{controlGastosService.fechaFinMes | date }}
        </ion-col>
    
        <ion-col size="12" *ngIf="!anticiposService.vistaAnticipo">
          Consumo :  {{ controlGastosService.totalColones    | colones }}  / {{ controlGastosService.totalDolares    | colones : 2 : '.' : ',' :  '$'}}
        </ion-col>



        <ion-col size="12" *ngIf="anticiposService.vistaAnticipo">
          Anticipo :   {{anticiposService.vistaAnticipo.numerO_TRANSACCION  }}
        </ion-col>
        <ion-col size="6" *ngIf="anticiposService.vistaAnticipo">
           {{anticiposService.vistaAnticipo.fechA_INICIAL | date }} 
   
            </ion-col>
            <ion-col size="6" *ngIf="anticiposService.vistaAnticipo">
              {{anticiposService.vistaAnticipo.fechA_FINAL | date }}
            </ion-col>
         
        <ion-col size="4" *ngIf="anticiposService.vistaAnticipo">
          Dispensado  
        </ion-col>
        <ion-col size="4" *ngIf="anticiposService.vistaAnticipo">
          Consumido    
        </ion-col>
        <ion-col size="4" *ngIf="anticiposService.vistaAnticipo">
          Restante    
        </ion-col>
       
        <ion-col size="4" *ngIf="anticiposService.vistaAnticipo">
            {{!anticiposService.vistaAnticipo ? 0 :  anticiposService.vistaAnticipo.monto     | colones : 2 : '.' : ',' :   anticiposService.anticipo ? anticiposService.anticipo.moneda : '¢' }} 
        </ion-col>
        <ion-col size="4" *ngIf="anticiposService.vistaAnticipo">
             {{!anticiposService.vistaAnticipo ? 0 :  anticiposService.vistaAnticipo.utilizado     | colones : 2 : '.' : ',' :   anticiposService.anticipo ? anticiposService.anticipo.moneda : '¢' }}
        </ion-col>
        <ion-col size="4" *ngIf="anticiposService.vistaAnticipo">
           {{!anticiposService.vistaAnticipo ? 0 :  anticiposService.vistaAnticipo.restante     | colones : 2 : '.' : ',' :   anticiposService.anticipo ? anticiposService.anticipo.moneda : '¢' }}
        </ion-col>
        <ion-col size="12" style="height:30vh;margin-top: 1rem;margin-bottom: 1rem;">
          <canvas  id="barCanvas"  #barCanvas style="position: relative; height:30vh; width:100%"></canvas> 
        </ion-col>
  
     
 
 
    <ion-col size="12"  >

      <ion-list >
        <ng-template ngFor let-tipoGasto [ngForOf]="controlGastosService.gastos"
  let-i="index" let-odd="odd" >
  <ion-item  *ngIf="tipoGasto.totalColones > 0 || tipoGasto.totalDolares > 0"  (click)="detalle(tipoGasto)" button  lines="full">
    <ion-grid >
      <ion-row>
        <ion-col size="4">
          <img src="{{tipoGasto.imagen}}" alt="">
        

        </ion-col>
        <ion-col size="8">

          <ion-row>
            <ion-col size="12">
              <ion-label  > <strong>{{tipoGasto.descripcion}}</strong> </ion-label>
            </ion-col>
            <ion-col size="12">
         
               <ion-label >

                <strong>{{tipoGasto.totalColones   | colones }}</strong>
         <span *ngIf="!anticiposService.vistaAnticipo">
          /
          <strong>{{tipoGasto.totalDolares    | colones : 2 : '.' : ',' :  '$' }}</strong>
         </span>
               </ion-label>
            </ion-col>
          </ion-row>
   
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ng-template>


    
 
      </ion-list>
     
    </ion-col>
 
 
  </ion-row>

 
</ion-grid>
</ion-content>



<ion-fab  [ngStyle]="{'bottom': controlGastosService.totalColones > 0 || controlGastosService.totalDolares > 0  || anticiposService.vistaAnticipo ? '9rem' : '5rem' }" style="position: fixed;right: 1rem;">
  <ion-fab-button color="primary" class="">
    <ion-icon name="search"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="primary" (click)="estadosDeCuenta()"  data-desc="Estados De Cuenta">
      <ion-avatar  class="ion-avatar">
        <img src="assets/opciones/financial-statement.svg" alt="">
       </ion-avatar>
    </ion-fab-button>
    <ion-fab-button color="primary" (click)="gastosSinAnticipo()"  data-desc="Gastos Sin Anticipo">
      <ion-avatar  class="ion-avatar">
        <img src="assets/opciones/cash-on-delivery.svg" alt="">
       </ion-avatar>
    </ion-fab-button>
    <ion-fab-button color="primary" (click)="listaAnticipos()" data-desc="Anticipos Disponibles">
      <ion-avatar  class="ion-avatar">
        <img src="assets/opciones/wallet.svg" alt="">
       </ion-avatar>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-fab-button [ngStyle]="{'bottom': controlGastosService.totalColones > 0 || controlGastosService.totalDolares > 0 ||  anticiposService.vistaAnticipo ? '5rem' : '1rem' }" (click)="nuevoGasto()" style="position: fixed;right: 1rem;" color="danger"  >
  <ion-icon name="add"></ion-icon>
</ion-fab-button>
<ion-fab-button *ngIf=" controlGastosService.totalColones > 0 || controlGastosService.totalDolares > 0 || anticiposService.vistaAnticipo" (click)="controlGastosService.limpiarDatosIniciales()" style="position: fixed;bottom: 1rem;right: 1rem;" color="warning"  >
  <ion-icon name="reload"></ion-icon>
</ion-fab-button>