 
<ion-header class="ion-no-border">
  <ion-toolbar>
   <ion-button slot="start" (click)="regresar()" fill="clear">
    <ion-icon size="large" name="arrow-back-outline"></ion-icon>
   </ion-button>
   <ion-title>Detalle Notificacion</ion-title>
    
  </ion-toolbar>
  
 </ion-header>
 <ion-content class="ion-padding">
<ion-label class="ion-text-wrap">
  {{notificacion.descripcion}}
</ion-label>


<form id="form" (ngSubmit)="actualizarNotificacion(fNotificaciones)" #fNotificaciones="ngForm">
  


  <app-button label="Recibir consentimiento"></app-button>
  
</form>


 </ion-content>
 
  
  