<ion-header class="ion-no-border">
  <ion-toolbar  >

    
    <ion-button  slot="start" contentId="main-content"  (click)="toggle()"  fill="clear" >
      <ion-icon color="light" name="menu" size="large"></ion-icon>
    </ion-button>
    <ion-title slot="start" class="ion-text-capitalize">{{titulo}}</ion-title>
 <ion-chip color="transparent"  slot="end" mode="ios" outline="false" size="large">
  <ion-avatar>
    <img src="assets/icon/user.svg" />
  </ion-avatar>
  <ion-label>{{usuariosService.usuario.usuario}}</ion-label>
 </ion-chip>
  </ion-toolbar>
</ion-header>

