<ion-header class="ion-no-border">
    <ion-toolbar  >
  
      
      <ion-button  slot="start" contentId="main-content"  (click)="toggle()"  fill="clear" >
        <ion-icon color="light" name="menu" size="large"></ion-icon>
      </ion-button>
  <strong slot="start">{{titulo}}</strong>
   <ion-chip color="transparent"  slot="end" mode="ios" outline="false" size="large">
    <ion-avatar>
      <img src="assets/icon/user.svg" />
    </ion-avatar>
    <ion-label *ngIf="usuariosService.usuario">{{usuariosService.usuario.usuario}}</ion-label>
   </ion-chip>
  <span slot="end" style="margin-right: 0.5rem;">
    <ion-button (click)="notificaciones()" style="margin-right: 0.5rem;"    fill="clear"  >
      <ion-icon   name="notifications-outline"></ion-icon>
     </ion-button>
       <ion-badge  color="dark" mode="ios" style="position: absolute;right: 0.5rem;"> {{notificacionesService.notificaciones.length }}</ion-badge>
   
  </span>
    </ion-toolbar>
  
    <ion-toolbar>
      <ion-segment [scrollable]="true" value="heart">
        <ion-segment-button (click)="redirigir('/mis-gastos')" value="home" >
          <ion-icon name="home"></ion-icon>
          <ion-label>Mis Gastos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="heart" (click)="redirigir('/sobrantes')">
          <ion-icon name="heart"></ion-icon>
          <ion-label>Sobrantes</ion-label>
        </ion-segment-button>
        <ion-segment-button value="pin" (click)="redirigir('/devoluciones')">
          <ion-icon name="pin"></ion-icon>
          <ion-label>Devoluciones</ion-label>
        </ion-segment-button>
        <ion-segment-button value="star" (click)="redirigir('/liquidaciones')"> 
          <ion-icon name="star"></ion-icon>
          <ion-label>Liquidaciones</ion-label>
        </ion-segment-button>
        <ion-segment-button value="call" (click)="redirigir('/historial')">
          <ion-icon name="call"></ion-icon>
          <ion-label>Historial</ion-label>
        </ion-segment-button>
         
      </ion-segment>
      
    </ion-toolbar>
  </ion-header>
  
  