 

<ion-content>
  <form id="form" (ngSubmit)="filtrarGastos(fFiltro)" #fFiltro="ngForm">
    <ion-grid >
      <ion-row>
        <ion-col size="12">
          <ion-searchbar mode="ios" placeholder="Referencia"   [debounce]="250"  ></ion-searchbar>
        </ion-col>
   
        <ion-col size="{{gastosConAnticipo == 'CA' || gastosConAnticipo == 'EC' ? 12 :  6}}">
       <app-select  name="tipoGasto" (ionChange)="filtroGastoConAnticipo(fFiltro, $event)"   [data]="tiposGastos" label="Tipo Gastos" ngModel="{{gastosConAnticipo}}"></app-select>
        </ion-col>
        <ion-col size="12" *ngIf="gastosConAnticipo == 'EC'">
          <app-input   name="estadoCuenta"  readonly="true"   ngModel="" label="Estado Cuenta"></app-input>
        </ion-col>
        <ion-col size="12" *ngIf="gastosConAnticipo == 'CA'">
          <app-input   name="anticipo"  readonly="true" (click)="listaAnticipos()"  ngModel="{{vistaAnticipo ?  vistaAnticipo.numerO_TRANSACCION : ''}}" label="Anticipo"></app-input>
        </ion-col>
        <ion-col size="6" *ngIf="gastosConAnticipo == 'SA'">
          <app-select name="estado" [data]="estados" label="Estado"    (ionChange)="filtroEstado(fFiltro, $event)" ngModel="{{estado}}" ></app-select>
        </ion-col>
        <ion-col size="6" *ngIf="gastosConAnticipo == 'SA'">
          <app-input   name="fechaInicial"  readonly="true" (click)="calendarioPopOver('fechaInicial')"  ngModel="{{fechaInicial}}" label="Fecha Inicial"></app-input>
        </ion-col>
        <ion-col size="6" *ngIf="gastosConAnticipo == 'SA'">
          <app-input  name="fechaFinal"  readonly="true"  (click)="calendarioPopOver('fechaFinal')"  ngModel="{{fechaFinal}}" label="Fecha Final"></app-input>
        </ion-col>
   <ion-col size="12">
    <app-button label="Gestionar gastos"></app-button>
   </ion-col>
      </ion-row>
    
    </ion-grid>
  </form>
 
</ion-content>
