<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides pager="true">
    <ion-slide>
      <div class="slide">
        <img src="assets/budget.svg" />
        <h2>Bienvenidos</h2>
        <p>
           <b>SD1 Móvil</b>
           cambia los metodos tradicionales y trabaja de forma sencilla desde la comodidad de tu telefono.
        </p>
        
      </div>
    </ion-slide>

    <ion-slide>
      <img src="assets/expenses.svg" />
      <h2>Gestion Gastos</h2>
      <p>
        <b>SD1 Móvil</b> 
       Podras llevar un control de tus gastos  
      </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/money-bag.svg" />
      <h2>Gestion Reintegros</h2>
      <p>
        <b>SD1 Móvil</b> 

        Podras gestionar de una manera facil, el reintegro de us gastos mensuales!.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/coris.png" />
      <h2>SD1 Móvil</h2>

      <p>
        ¿Estas listo para comenzar?.
      </p>
      <ion-button (click)="start()" fill="clear">Continuar <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>